<br class="clr" /> <br class="clr" />
<div class="booyah-box col-10 offset-1">
  <h1> Nature Photos Across the Globe  </h1>
</div>
<br class="clr" /> <br class="clr" />

<div class="video">
  <iframe width="1100" height="615" src="https://www.youtube.com/embed/XP6xRZCFDYU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>        
<br class="clr" /> <br class="clr" /><br class="clr" /> <br class="clr" /><br class="clr" /> <br class="clr" /><br class="clr" /> <br class="clr" />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h2> Where have you been </h2>
    <br /><br />
      <%= link_to 'Browse Photos', "#", class: 'btn btn-success' %>
  </div>

  <div class="col-12 col-sm">
    <h3> Where would like to go </h3>
    <br /><br />
      <%= link_to 'Add Photos', "#", class: 'btn btn-success' %>
  </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="row feature text-center">
  <div id="footer">
    <div class="container">
    <b></b>
    <br />
      <%= link_to 'My Profile', "#" %>
    <br />
      <%= link_to 'About', "#" %>
    <br />
      <%= link_to 'Links', "#" %>
    </div>
</div>